@tailwind base;
@tailwind components;
@tailwind utilities;

/* .landingpage {
  background-image: url("@/../../../public/assests/light_grey_dots_background.jpg");
  filter: blur(4px);
  opacity: 50%;
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
} */

/* From Uiverse.io by KINGFRESS */
.btn {
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1em 2em;
  border: none;
  border-radius: 0.6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.btn span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: 0.6s ease;
}

.btn span:nth-child(6) {
  position: relative;
}

.btn span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.btn span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.btn span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}

.btn span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.btn span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.btn:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}
