.landingpage {
    background-image: url("@/../../../public/assests/light_grey_dots_background.jpg");
    filter: blur(4px);
    opacity: 50%;
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    height: 100vh; /* Full viewport height */
    width: 100%;   /* Full width */
    position: fixed;
    z-index: -10;
        
  }
  